{% extends 'academic_groups/header_events.html' %}

{% block content %}
<div class="container shadow " style="padding-top: 50px">
  <div class="panel-group" id="collapse-group">

    {% for event_group in academic_group.eventgroup_set.all %}

      <div class="panel panel-info">
        <a href="#el{{ event_group.id }}" data-toggle="collapse" data-parent="#collapse-group">
          <div class="panel-heading">
            <h3><b>Название группы:</b> {{ event_group }}</h3><br>
          </div>
        </a>

        <div class="collapse container" id="el{{ event_group.id }}">
          <div class="panel-body">
            <ul>
              <li><b>Место:</b>  {{ event_group.prize_winning_place }}</li>
              <li><b>Мероприятие:</b>  {{ event_group.event_name }}</li>
              <li><b>Область:</b>  {{ event_group.event_area }}</li>
              <li><b>Уровень:</b>  {{ event_group.event_level }}</li>
            </ul>

            <h4 style="margin-top: 30px; margin-bottom: 15px">Студенты-участники</h4>
            <ol>
              {% for student in event_group.student_event.all %}
                <li>{{ student.name }}</li>

              {% endfor %}
            </ol>
            <!-- BEGIN: add-stdent -->
            <button class="btn btn-default" data-toggle="modal" data-target="#add-student{{ event_group.id }}"><i class="fa fa-user-plus"></i> Добавить студента</button>
            <div id="add-student{{ event_group.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-sm">
                  <form class="modal-content" action="{% url 'groups:event_add_student' %}" method="post">
                    <div class="modal-header">
                      <button class="close" data-dismiss="modal">х</button>
                      <h4 class="modal-title">Добавить студента</h4>
                    </div>

                    <div class="modal-body">

                      {% csrf_token %}

                      <input type="hidden" name="event_group_id" value="{{ event_group.id }}">

                      <label for="student">ФИО</label>
                      <select id="student" name="student">
                        <option selected>Выберите</option>

                        {% for student in academic_group.student_set.all %}
                          {% if not student in event_group.student_event.all %}
                            <option value="{{ student.id }}">{{ student }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>

                    <div class="modal-footer">
                      <input class="btn btn-success" type="submit" value="Добавить">
                      <!-- <a href="#"><button style="width: 100%" class="btn btn-default" type="button" name="button">Добавить</button></a> -->
                    </div>
                  </form>
                </div>
              </div>
              <!-- END: add-stdent -->

              <!-- BEGIN: delete_evebt -->
              <div style="float: right; margin-right: 15px">
                <form action="{% url 'groups:delete_event_group' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="event_group_id" value="{{ event_group.id }}">
                  <button class="btn btn-danger" type="submit" value="Удалить" name="button"><i class="fa fa-trash"></i> Удалить</button>
                </form>
              </div>
                <!-- END: delete_evebt -->

              <!-- BEGIN: edit-event -->
              <div style="float: right; margin-right: 10px">
                <button class=" btn btn-default" data-toggle="modal" data-target="#edit-event-group{{ event_group.id }}"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> Редактировать</button>
                <div id="edit-event-group{{ event_group.id }}" class="modal fade" tabindex="-1">
                  <div class="modal-dialog modal-sm">
                    <form class="modal-content" action="{% url 'groups:edit_event_group' %}" method="post">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">х</button>
                        <h3 class="modal-title">Редактировать мероприятие</h3>
                      </div>

                      <div class="modal-body">
                        {% csrf_token %}

                        <input type="hidden" name="event_id" value="{{ event_group.id }}">

                        <label for="group_name">Название группы:</label><br>
                        <input type="text" id="group_name" size="20" name="group_name" value="{{ event_group.name }}"><br>

                        <label for="event_name">Мероприятие:</label><br>
                        <input type="text" id="event_name" size="20" name="event_name" value="{{ event_group.event_name }}"><br>

                        <label for="event_area">Область:</label><br>
                        <select id="event_area" name="event_area">
                          <option selected value="{{ event_group.event_area }}">{{ event_group.event_area.forward_name }}</option>
                          <option value="n">Научная</option>
                          <option value="k">Культурно-массовая</option>
                          <option value="s">Спортивная</option>
                          <option value="o">Общественная</option>
                        </select>

                        <br>
                        <label for="event_level">Уровень:</label><br>
                        <select id="event_level" name="event_level">
                          <option selected value="{{ event_group.event_level }}">{{ event_group.event_level }}</option>
                          <option value="m">Международный</option>
                          <option value="v">Всероссийский</option>
                          <option value="r">Региональный</option>
                          <option value="g">Городской</option>
                          <option value="u">Университетский</option>
                        </select>

                        <br>

                        <label for="place">Занятое место:</label><br>
                        <select id="place" name="place" >
                          <option selected value="{{ event_group.prize_winning_place }}">{{ event_group.prize_winning_place }}</option>
                          <option value="1">1 место</option>
                          <option value="2">2 место</option>
                          <option value="3">3 место</option>
                          <option value="0">участие</option>
                        </select>
                      </div>

                      <div class="modal-footer">
                        <input class="btn btn-default" type="submit" value="Сохранить">
                      </div>
                    </form>
                  </div>
                </div>
            </div> <!-- END: edit-event -->

          </div>
        </div>
      </div>

    {% endfor %}

    <!-- BEGIN: ADD_EVENT -->
    <div style="margin-top: 20px">
      <button style="float: right; width: 180px" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Добавить мероприятие</button>
      <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-md">
          <form class="modal-content" action="{% url 'groups:add_event' %}" method="post">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">х</button>
              <h3 class="modal-title">Добавить мероприятие</h3>
            </div>

            <div class="modal-body">
              {% csrf_token %}

              <label for="group_name">Название группы:</label><br>
              <input type="text" id="group_name" size="20" name="group_name"><br>

              <label for="event_name">Мероприятие:</label><br>
              <input type="text" id="event_name" size="20" name="event_name"><br>

              <label for="event_area">Область:</label><br>
              <select id="event_area" name="event_area">
                <option selected>Выберите</option>
                <option value="n">Научная</option>
                <option value="k">Культурно-массовая</option>
                <option value="s">Спортивная</option>
                <option value="o">Общественная</option>
              </select>

              <br>
              <label for="event_level">Уровень:</label><br>
              <select id="event_level" name="event_level">
                <option selected>Выберите</option>
                <option value="m">Международный</option>
                <option value="v">Всероссийский</option>
                <option value="r">Региональный</option>
                <option value="g">Городской</option>
                <option value="u">Университетский</option>
              </select>

              <br>

              <label for="place">Занятое место:</label><br>
              <select id="place" name="place" >
                <option selected>Выберите занятое место</option>
                <option value="1">1 место</option>
                <option value="2">2 место</option>
                <option value="3">3 место</option>
                <option value="0">участие</option>
              </select>
            </div>

            <div class="modal-footer">
              <input class="btn btn-default" type="submit" value="Добавить">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- END: ADD_EVENT -->
  </div>
</div>
{% endblock %}
