
{% extends 'authorization/header.html' %}

{% block content %}

  <div class="container shadow">

    <div class="panel-group" id="collapse-group">
        <div class="panel panel-info">
          <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#collapse-group" href="#el1"><h2>Группа: 11-601</h2></a>
          </div>
        <div id="el1" class="collapse container event-block">
          <div class="panel-body event-block">
            <ul class="list-group">
              <li>Нет доп. сессий</li>
              <li>Лучший певец про зяблика</li>
              <li>Активные участники студвесны</li>
              <li>5 стобальников</li>
              <li>Участники:</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item">Аймурзин Айнур</li>
              <li class="list-group-item">Киселёв Александр</li>
              <li class="list-group-item">Аймурзин Айнур</li>
              <li class="list-group-item">Киселёв Александр</li>
              <li class="list-group-item">Аймурзин Айнур</li>
              <li class="list-group-item">Киселёв Александр</li>
              <li class="list-group-item">Аймурзин Айнур</li>
              <li class="list-group-item">Киселёв Александр</li>
            </ul>

          </div>
          <a href="#"><button class="btn btn-success btn-lg" type="button" name="button" value="Проверить">Проверить</button></a>

        </div>
      </div>

    </div>

  </div>

{% endblock %}
