{% extends 'academic_groups/header.html' %}

{% block content %}

<div class="container">
  <div class="student-inform">

    <div class="student-name">
      <h3>{{ student.name }}</h3>
    </div>

    <div class="inform">
      <p><b>Институт:</b> {{ student.academic_group.institute }}</p>
      <p><b>Группа:</b> {{ student.academic_group.name }}</p>
      <p><b>Курс:</b> {{ student.academic_group.course }}</p>
      <p><b>Куратор:</b> {{ student.academic_group.curator }}</p>
      <p><b>Староста:</b> {{ student.academic_group.starosta.last_name }} {{ student.academic_group.starosta.first_name }}</p>
    </div>

    <div class="exams">
      <table class="table table-hover table-exam">

        <thead>
        <tr>
          <th>Экзамены</th>
          <th>Баллы</th>
        </tr>
        </thead>

        <tbody>
        {% for student_exam in student_exams %}
          <tr>
            <td>{{ student_exam.exam }}</td>
            <td>{{ student_exam.score }}</td>
          </tr>
        {% endfor %}
        </tbody>

      </table>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal" style="float: right">
        Изменить результаты экзаменов
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <form class="modal-content" method="post" action="{% url 'groups:edit_student_exams' student.id %}">

            {% csrf_token %}

             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Изменить результаты экзаменов</h4>
             </div>

            <div class="modal-body">
               {% for student_exam in student_exams %}

                 <label for="exam{{ student_exam.exam_id }}">{{ student_exam.exam }}</label><br>
                 <input type="number" name="exam{{ student_exam.exam_id }}" id="exam{{ student_exam.exam_id }}">
                 <br>

               {% endfor %}
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              <input type="submit" class="btn btn-primary" value="Изменить">
            </div>

          </form>
        </div>
      </div>

    </div>

    <div>
      <h1>Events are coming soon</h1>
    </div>

    <form action="{% url 'groups:delete_student' student.id %}" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger btn-delete-student" value="Удалить студента">
    </form>

    <br>
  </div>
</div>

{% endblock %}
