body {
  font-family: 'Roboto', sans-serif;
}

.icon-bar {
  background-color: #888888;
}

.shadow {
  padding-bottom: 20px;
  box-shadow: 0 0 7px 1px;
}

/* Students */
.for-hover {
  color: black;
}

.for-hover:hover {
  color: #FBFBFF;
}

.adding-student {
  margin: auto;
  padding: 30px 0 20px 0;
  width: 30%;
  text-align: center;
}

td, th {
  text-align: center;
}

.header-button {
  height: 65px;
  width: 150px;
  font-size: 20px;
  color: white;
  padding-top: 21px !important;
}

.header-button:hover, .user-table:hover {
  background-color: #FBFBFF !important;
  color: #0B4F6C;
  border-bottom: 2px solid #0B4F6C;
  transition: .4s;
}

.active-header-button {
  background-color: #FBFBFF;
  border-bottom: 2px solid #0B4F6C;
  color: #0B4F6C;
}

.user-table {
  height: 65px;
  width: 200px;
  font-size: 20px;
  color: white;
  padding-top: 21px !important;
  float: right;
}

.log-out {
  width: 200px;
  height: 65px;
  padding-top: 21px !important;
  font-size: 15px;
  text-align: center;
}

.log-out:hover {
  background-color: #FBFBFF;
  height: 65px;
  transition: .7s;
}

.panel-info {
  border-color: #0B4F6C;
}

.panel-heading {
  background-color: #0B4F6C !important;
  border-color: #0B4F6C !important;
  color: #FBFBFF !important;
  border-radius: 0 !important;
  padding: 15px 15px 0 15px;
}

.panel-heading > p {
  font-size: 18px;
  margin: 14px 0;
}

.panel {
  border-radius: 0 !important;
}

.panel-body > ul > li {
  font-size: 15px;
}

.panel-body > ol > li {
  font-style: italic;
}

th {
  font-size: 18px !important;
}

.table-bordered > thead > tr > th {
  border: 2px solid #0B4F6C !important;
  color: #376F86;
}

.table > thead > tr.active > th {
  background-color: #376F86;
}

.event-block {
  width: 100%;
}

.event-block > ul > li {
  font-size: 20px;
}

.event-block > a {
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
}

.list-group {
  margin-left: 20px;
}
