@font-face {
font-family: 'PT Sans';
src: url('../fonts/PTSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Righteous';
src: url('../fonts/Righteous-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
  font-family: "PT Sans";
  padding-bottom: 100px;
}

.navbar {
  background: #0B4F6C;
  height: 65px;
}

.navbar-brand {
  margin-left: 100px;
    font-family: "Righteous", serif;
  font-size: 40px;
  color: #FBFBFF;
}

.navbar-header > a:hover{
  color: #FBFBFF;
  text-shadow: 4px 0 0 #000;
}

.navbar-header > a:focus{
  color: #FBFBFF;
}

.navbar-toggle {
  background-color:#F8F8F8;
}
.navbar-header .navbar-toggle .icon-bar{
   background-color: #888888;
 }

 .icon-bar{
    background-color: #888888;
  }

.shadow {
  padding-bottom: 20px;
  box-shadow: 0 0 7px 1px;
}
/* Students */
.for-hover {
  color: black;
}

.for-hover:hover {
  color: #FBFBFF;
}

.adding-student {
  margin: auto;
  padding: 30px 0 20px 0;
  width: 30%;
  text-align:center;
}


.content {
  box-shadow: 0 0 7px 0.5px;
  margin: auto;
  background: #FBFBFF;
  height: 350px;
  width: 300px;
  padding-top: 20px;
}

.title_login {
  text-align: center;
}

.title_login > h2 {
  font-weight: bold;
  color: #0B4F6C;
}

.footer-line2 {
  position: fixed;
    opacity: 0.5;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #757575;
}

td, th {
  text-align: center;
}

.header-button {
    height: 65px;
    width: 150px;
    font-size: 20px;
    color: white;
    padding-top: 21px !important;
}

.header-button:hover, .user-table:hover {
    background-color: #FBFBFF !important;
    color: #0B4F6C;
    border-bottom: 2px solid #0B4F6C;
    transition: .4s;
}

.active-header-button {
    background-color: #FBFBFF;
    border-bottom: 2px solid #0B4F6C;
    color: #0B4F6C;
}

.user-table {
    height: 65px;
    width: 200px;
    font-size: 20px;
    color: white;
    padding-top: 21px !important;
    float: right;
}

.log-out {
    width: 200px;
    height: 65px;
    padding-top: 21px !important;
    font-size: 15px;
    text-align: center;
}

.log-out:hover {
    background-color: #FBFBFF;
    height: 65px;
    transition: .7s;
}

.btn-delete-student {
    float: right;
}

.panel-info {
    border-color: #0B4F6C;
}

.panel-heading {
    background-color: #0B4F6C !important;
    border-color: #0B4F6C !important;
    color: #FBFBFF !important;
    border-radius: 0 !important;
    padding: 15px 15px 0 15px;
}

.panel-heading > p {
    font-size: 18px;
    margin: 14px 0;
}

.panel {
    border-radius: 0 !important;
}

.btn-default {
    background-color: #0B4F6C;
    color: #FBFBFF;
    border: 1px solid #0B4F6C;
    height: 40px;
    border-radius: 0;
}

.btn-default:hover {
    background-color: #FBFBFF;
    color: #0B4F6C;
    border: 2px solid #0B4F6C;
}
.btn-default:focus,
.btn-default.focus {
  color: #FBFBFF;
  background-color: #0B4F6C;
  border-color: #0B4F6C;
}

.btn-default:active {
    color: #FBFBFF;
    background-color: #0B4F6C;
    border-color: #0B4F6C;
}


.panel-body > ul > li {
font-size: 15px;
}

.panel-body > ol > li {
font-style: italic;
}

.btn {
border-radius: 0;
width: 165px;
}

.btn-danger {
background-color: #E52D4F;
color: #FBFBFF;
border-color: #E52D4F;
height: 40px;
border-radius: 0;
}

.btn-danger:hover {
background-color: #FBFBFF;
color: #E52D4F;
border: 2px solid #E52D4F;
}
.btn-danger:focus,
.btn-danger.focus {
color: #FBFBFF;
background-color: #E52D4F;
border-color: #E52D4F;
}

.btn-danger:active {
color: #FBFBFF;
background-color: #E52D4F;
border-color: #E52D4F;
}

th {
    font-size: 18px !important;
}

.table-bordered > thead > tr > th {
    border: 2px solid #0B4F6C !important;
    color: #376F86;
}

.table > thead > tr.active > th {
    background-color: #376F86;
}

.event-block {
  width: 100%;
}

.event-block > ul > li {
  font-size: 20px;
}

.event-block > a {
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
}

.list-group {
    margin-left: 20px;
}