/* Кнопка "Студенты" */

@font-face {
font-family: 'PT Sans';
src: url('../fonts/PTSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Righteous';
src: url('../fonts/Righteous-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.container .student-inform {
	box-shadow: 0 2px 10px -2px black;
	background: white;
	padding: 30px 50px;
}


.container .student-inform .student-name {
	margin-bottom: 10px;
	border-bottom: 2px solid #ddd;
	font-size: 20px;
}

.container .student-inform .inform {
	border-bottom: 2px solid #ddd;
}

.container .student-inform .inform > p {
	margin: 1px 0;
	font-size: 18px;
}

.table-exam {
	margin-top: 20px;
}